<div id="disquss_thread">
  {{ if eq .Section "thoughts" }}
  <!-- 对于thoughts页面的评论框 -->
  <script src="https://utteranc.es/client.js"
    repo="KFCxMcDonalds/KFCxMcDonalds.github.io"
    issue-term="pathname"
    label="thoughts"
    theme="{{ .Site.Params.Comments.Utterances.Theme }}"
    crossorigin="anonymous"
    async>
  </script>
  {{ else }}
  <!-- 对于其他页面，使用正常的评论配置，所有人都可以评论 -->
  <script src="https://utteranc.es/client.js"
    repo="{{ .Site.Params.Comments.Utterances.Repo }}"
    issue-term="pathname"
    label="comment"
    theme="{{ .Site.Params.Comments.Utterances.Theme }}"
    crossorigin="anonymous"
    async>
  </script>
  {{ end }}
</div>
